body {
	font-family: 'Sintony', sans-serif;
	color: #5c6369;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #14141d;
}

.yellow {
	color: #fea100;
}

/*////////////*/
.intro 
{
	margin: auto;
	background: url(http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg) no-repeat 50% 50%;
	height: 100%;
	width: 100%;
	display:table;
	top:0;
	background-size: cover;
}
	

.intro .inner 
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content
{
max-width: 500px;
margin: 0 auto;
text-align: center;
}	
.content h1 
{
font-family:'Raleway' sans-serif;
color: #35C0CD;
text-shadow: 0px 0px 300px #000;
font-size: 400%;
}

.btn 
{
	border-radius: 9px;
	font-family: "Oswald" sans-serif;
	color: #35C0CD;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #35C0CD 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover
{
	color: #1E6D74;
	border: solid #1E6D74 3px;
}
/*////////////*/

.cta {
	background: #fea100;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 13px 0;
	font-weight: 700;
	display: block;
	cursor: pointer;
	width: 200px;
	border: 0;
	margin-top: -5px;
	text-align: center;
}

.cta:hover {
	text-decoration: none;
	color: #fff;
}

.book__icon {
	background: url('../img/order.png');
	width: 21px;
	height: 17px;
	display: block;
	margin-right: 13px;
}

.main-header {
	padding: 24px 0;
}

.offer {
	background: url('../img/first-bg.jpg') no-repeat center top;
}

.title {
	padding: 210px 0;
}

.title__heading {
	font-size: 56px;
	color: #fff;
}

.title__desc {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 40px;
	color: #fff;
	margin-top: -15px;
}

.title__desc span {
	color: #fea100;
}

.call {
	background: #edf1f3;
	border-bottom: 1px solid #dde3e7;
	padding: 30px 0;
}

.phone {
	display: flex;
	width: 500px;
	margin-left: 30%;
	margin-right: 30;
}

.phone__text {
	background: url('../img/phone.png') no-repeat left center;
	color: #14141d;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	width: 180px;
	padding-left: 56px;
	padding-top: 5px;
}

.phone__text span {
	font-size: 16px;
	margin-top: -4px;
	display: block;
}

.phone__digits {
	font-size: 32px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: #14141d;
	margin-left: 42px;
	margin-top: -5px;
}

.history {
	margin-top: 60px;
}

.history__title {
	font-size: 35px;
	margin-bottom: 25px;
}

.history__text {
	font-size: 14px;
}

.history__button {
	width: 148px;
	margin-top: 48px;
}

.about {
	padding: 65px 0 100px;
}














.about-images {

}

.about-images__item {
	margin-bottom: 10px;
}

.about-images-down {
	margin-top: 50px;
}











.special {
	background: url('../img/bg.png') no-repeat center top;
	padding-top: 80px;
}

.special-title {
	font-size: 35px;
	color: #fff;
	text-align: center;
}

.about {
	text-align: center;
	box-shadow: 0 20px 90px rgba(0,0,0,0.15);
	margin-bottom: 130px;
	margin-top: 20px;
}













.about__img {
	margin-bottom: 45px;
}

.about__title {
	font-size: 26px;
	margin-bottom: 10px;
}

.about__desc {
	font-size: 14px;
	padding: 0 50px;
}

.about__details {
	border-top: 1px solid #e1e1e1;
	margin: 0 45px;
	text-align: left;
	color: #14141d;
	padding: 19px 0;
}

.about__del {
	text-transform: uppercase;
	font-size: 13px;
	width: 78px;
	border-right: 1px solid #e1e1e1;
	margin-right: 18px;
	font-weight: 700;
}

.about__del span {
	color: #fe4c8d;
}

.about__phone {
	font-size: 26px;
	font-family: 'Playfair Display', serif;

}

.about__price {
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}










.footer {
	background: #373844;
	color: #93989e;
	font-size: 13px;
	text-transform: uppercase;
	padding: 72px 106px;
}

.socials {

}

.socials__item a {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	display: block;
}

.socials__item_fb a {
	background: #3b5998 url('../img/fb.png') no-repeat center center;
}

.socials__item_tw a {
	background: #55acee url('../img/tw.png') no-repeat center center;
	margin: 0 7px;
}

.socials__item_g a {
	background: #dd4b39 url('../img/g.png') no-repeat center center;
}

.line {
	background: #52535e;
	height: 1px;
	margin-top: 7px;
	margin-top: 50px;
}

.credits {
	margin-top: 43px;
	text-align: center;
}

.modal2 {
	display: none;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.modal2__overlay {
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.modal2__body {
	width: 400px;
	height: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	background: #fff;
	margin-left: -200px;
	margin-top: -100px;
	border-radius: 10px;
	box-shadow: 0 0 50px black;
}

.show {
	display: block !important;
}