@import url('https://fonts.googleapis.com/css?family=Raleway');	
@import url('https://fonts.googleapis.com/css?family=Oswald'); 
	
html,body {
    
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100;
}

.intro 
{
	margin: auto;
	background: url('../img/background.png') no-repeat 50% 50%;
	height: 100%;
	width: 100%;
	display:table;
	top:0;
	background-size: cover;
}
	

.intro .inner 
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content
{
max-width: 500px;
margin: 0 auto;
margin-top: 35%;
text-align: center;

}	
.content h1 
{
font-family:'Raleway' sans-serif;
color: #35C0CD;
text-shadow: 0px 0px 300px #000;
font-size: 400%;
}

.btn 
{
	border-radius: 9px;
	font-family: "Oswald" sans-serif;
	color: #35C0CD;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #35C0CD 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover
{
	color: #1E6D74;
	border: solid #1E6D74 3px;
}

p
{
	font-size: 160%;
	line-height: 210%;
	text-align: justify;
	margin:3%;
	font-family: sans-serif;
}

/*//////////////////////////////////
@media screen and(max-width: 1024px) 
{
	.content h1
	{
		font-size: 250%;
	}
	.btn
	{
		font-size: 110%
		padding: 7px 15px;
	}
    p
	{
        font-size: 100%;
        line-height: 160%;		
	}
}
//////////////////////////////////*/	

@media screen and(max-width: 768px) 
{
	.content h1
	{
		font-size: 250%;
	}
	.btn
	{
		font-size: 110%
		padding: 7px 15px;
	}
    p
	{
        font-size: 100%;
        line-height: 160%;		
	}
}
///////////////////////////////////	
	








	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*	
 ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}




ul.menu > li {
    float: left;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: green;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: grey;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}





ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid green;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: lightgreen;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
*/